*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
    /* raleway font link  */
.raleway-first-front {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
     /* inter font link  */
.inter-second-front {
  font-family: "Inter", sans-ser40if;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shard-primary */
 /* .width-primary{
  max-width: 1140px;
  margin: 0 auto;
} */
.btn-primary{
  background-color: #4E47FF;
  padding: 12px 36px;
  color: white;
  border-radius: 10px;
  font-family:"Raleway", sans-serif;
  font-weight:bold;
  font-size: 16px;
  border: none;
}
.header{
  background-image: url(../Assets/Hero-bg.png);
  max-height: 700px;
  border: 1px solid aqua;

}

.nav-title{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 1140px;
  margin: 0 auto;
}
.nav-logo{
  font-family: "Inter", sans-ser40if;
  font-size: 34px;
  color:#4E47FF;
}

nav a{
  text-decoration: none;
}

.banner-div{
 width: 1140px;
 margin: 0 auto;
 padding: 150px 0;
 text-align: center;
 border: 1px solid green;

}
.banner-title{
  font-size: 65px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  width: 900px;
  margin: 0 auto;
  border: 1px solid blue;
  margin-bottom: 35px;
  
}

.main{
  background-color: #F5F8FF;

  
  border: 2px solid red
}
.section-container{
  width: 1140px;
  height: 328px;
  margin: 0 auto;
  padding: 115px 0;
  
}
.action-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.action-div{
  width: 518px;
}
.action-title{
  font-family:"Raleway", sans-serif;
  font-size: 42px;
  font-weight: bold;
  color:#252432;
}
.action-description{
  font-size:24px;
  font-family:"Raleway", sans-serif;
  color:#252432;
  margin: 22px 0;

}

.action-image-pic{
  width: 400px;
  border-radius: 48px;
}
/* productive container start  */
.productive-section-container{
  background-color: #E5E7FF;
  border: 2px solid green;
  text-align: center;
  width: 1140px;
  margin: 0 auto 135px;
  border-radius: 24px;
  
}
.productive-container{
  padding: 50px 80px;
 
}
.productive-title{
  font-family:"Raleway", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 40px;
}
.user-container{
  display: flex;
  justify-content: space-around;
}
.user-title{
   font-family: "Inter", sans-ser40if;
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
}
.user-description{
  font-size: 20px;
   font-family: "Inter", sans-ser40if;
   color: #25243279;;
}